body {
  font-family: sans-serif;
  color: #303030;
}
h1,
p {
  font-family: Lato;
}
.logoImg {
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
h3 {
  font-size: 15px;
  margin-left: 10px;
}
.mailLabel {
  color: #a3a3a3;
}
.customBtn {
  background-color: #cad1e7;
  color: rgb(4, 4, 88);
  border: none;
  line-height: 40px;
}
