body {
  font-family: sans-serif;
  color: #303030;
}
h1,
p {
  font-family: Lato;
}
.logoImg {
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
h3 {
  font-size: 15px;
  margin-left: 10px;
}
.mailLabel {
  color: #a3a3a3;
}
