body {
  font-family: sans-serif;
  color: #303030;
}
h1,
p {
  font-family: Lato;
}
.logoImg {
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
h3 {
  font-size: 15px;
  margin-left: 10px;
  font-weight: bold;
}
.mailLabel {
  color: #7a7a7a;
}
.inputField {
  line-height: 40px;
}
.customBtn {
  background-color: #cad1e7;
  color: rgb(68, 46, 170);
  border: none;
  line-height: 40px;
  font-weight: bold;
}
.formText {
  font-size: 14px;
  width: 360px;
}
.blockLevel {
  display: block;
}
.terms {
  width: 18px;
  height: 18px;
}
.mailLabel span {
  float: right;
  width: 92%;
}
